{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid m-auto w-25">
        <div class="row row-cols-1 mt-5 mb-1">
            <h1><i class="bi bi-people"></i> Register</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
