{% extends 'base.html.twig' %}

{% block title %}Math-API{% endblock %}

{% block body %}
    <div class="container-fluid m-auto w-50">
        <div class="row row-cols-1 mt-5 mb-1">
            <h1><i class="bi bi-house"></i> Welcome</h1>
            <p>This is a very simple calculator app that does basic arithmetic
            using MathML. </p>

            <p>To use this api please login at <a href="{{ path('app_login') }}">Login</a>
                or <a href="{{ path('app_registration') }}">Register</a>
            </p>
        </div>

    </div>
{% endblock %}